h1 {
  color: green;
}

body {
  margin: auto;
}

p {
  margin: 3px;
}

.border-styles {
  margin: 2px 0;
  padding: 1px 3px;
  border-width: 2px;
  border-color: #aaa;
}

.display-linebreak {
  white-space: pre-line;
}