/* reset.css */
body {
  font-family: sans-serif;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* Header.css */

.header h1 a {
  color: goldenrod;
}

/* main.css */
.main-section {
  display: flex;
}

/* main - scrum board */
.scrum-board {
  flex: 2;
}

.scrum-date,
.nonScrum-member {
  text-align: center;
  margin: 20px 0;
}

.scrum-date {
  color: rgb(120, 119, 147);
}

.nonScrum-member {
  color: rgb(236, 76, 124);
}
.pinterest-layout {
  column-width: 350px;
  column-gap: 15px;
  padding: 10px;
}

.daily-scrum-wrapper {
  display: inline-block;
  margin:0;
  margin-bottom: 15px;
  padding:10px;
  border: 1px solid rgb(109, 107, 209);
}

.member-name {
  color: rgb(85, 84, 103);
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  padding: 2px;
  margin-bottom: 5px;
}

.scrum-board-title {
  padding: 10px 0;
}

.scrum-content {
  color: rgb(109, 107, 209);
  margin-bottom: 5px;
  white-space: pre-line;
}

.scrum-content.overdue-work {
  color: rgb(236, 76, 124);
}

/* main - scrum Jira */
.scrum-jira {
  flex: 1;
}

.jira-list-wrapper {
  max-height: 50vh;
  overflow: auto;
  border: 1px solid rgb(109, 107, 209);
  padding: 3px;
}

.jira-list {
  color: rgb(83, 81, 101);
  padding: 3px 0;
  cursor: pointer;
}

.jira-list:hover {
  color: rgb(236, 76, 124);
}

.scrum-work-title {
  text-align: center;
  margin: 10px 0;
}

.scrum-work-board {
  margin-bottom: 30px;
}

.scrum-work-board textarea {
  width: 100%;
  height: 100px;
}

/* Footer.css */

.footer::before {
  content: '';
  display: block;
  width: 500px;
  height: 5px;
  background-color: rgb(109, 107, 209);
  margin: 50px auto;
}

/* login.css */
.login-form {
  width: 500px;
  text-align: center;
  border: 1px solid rgb(109, 107, 209);
  border-radius: 25px;
  padding: 50px 0;
  margin: 50px auto;
}
.input-sign-form {
  width: 280px;
  border: 1px solid rgb(109, 107, 209);
  border-radius: 25px;
  /* padding: 10px 20px; */
  margin: 10px auto;
}

.input-sign-form input {
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;
  padding: 0 20px;
  outline: none;
}

/* common.css */
.title {
  font-size: 24px;
  color: rgb(109, 107, 209);
}
.btn {
  width: 150px;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  background-color: #fff;
  color: #fff;
  padding: 10px 5px;
  cursor: pointer;
}

.btn.btn-ivory {
  background-color: rgb(109, 107, 209);
  transition: background-color .3s linear, border-color .3s linear, color .3s linear;
}

.btn.btn-ivory:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(109, 107, 209);
  color: rgb(109, 107, 209);
}

.btn-ivory-outline {
  background-color: rgb(240, 240, 245);
  color: rgb(109, 107, 209);
}